body {
  padding: 30px 0px 0px 30px;
  background-color: rgb(245, 218, 218);
}
.card {
  height: 900;
  width: auto;
}
.label {
  font-size: 20px;
  font-weight: 700px;
}
.search-form {
  width: 300px;
  height: 40px;
}
.country-name {
  text-align: center;
  margin-bottom: 70px;
  font-size: 50px;
  font-weight: 700px;
}
.country-info-wrapper {
  display: flex;
}
.country-flag {
  width: 2500px;
  height: 250px;
}

.country-info {
  margin-right: 100px;
}

.country-capital {
  margin-bottom: 20px;
  font-size: 40px;
}
.country-population {
  margin-bottom: 20px;
  font-size: 40px;
}
.country-language {
  margin-bottom: 10px;
  font-size: 40px;
}
.country-language-item {
  margin-bottom: 10px;
  font-size: 30px;
}
